<a href="https://colab.research.google.com/github/chanarmalik/data_mining_6/blob/main/TA_Data_Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Business Understanding
Tujuan dari data mining ini adalah :
Mem-prediksi serangan jantung berdasarkan bobot

In [ ]:
import pandas as pd # mengimpor perpustakaan

In [ ]:
df = pd.read_csv('heart.csv')

Data Understanding
Disini saya menggunakan dataset heart.csv, data ini saya dapatkan dari internet

In [ ]:
df.head() # menampilkan 5 baris pertama

   age  sex  cp  trtbps  chol  fbs  ...  exng  oldpeak  slp  caa  thall  output
0   63    1   3     145   233    1  ...     0      2.3    0    0      1       1
1   37    1   2     130   250    0  ...     0      3.5    0    0      2       1
2   41    0   1     130   204    0  ...     0      1.4    2    0      2       1
3   56    1   1     120   236    0  ...     0      0.8    2    0      2       1
4   57    0   0     120   354    0  ...     1      0.6    2    0      2       1

[5 rows x 14 columns]

In [ ]:
df.columns #nama kolom

Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output'],
      dtype='object')

In [ ]:
print('Shape is',df.shape) # bentuk kerangka data

Shape is (303, 14)

In [ ]:
df.isnull().sum() # memeriksa nilai nol

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [ ]:
df.describe() #ringkasan statistik

              age         sex          cp  ...         caa       thall      output
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

Melihat data, kita dapat memahami bahwa data perlu diskalakan, karena beberapa fitur memiliki rentang yang berbeda.

**Feature Scaling**
Feature Scaling adalah metode yang digunakan untuk menormalkan rentang variabel independen atau fitur data. Dalam pengolahan datanya

In [20]:
# membagi beberapa kolom dengan nilai maksimumnya, untuk mendapatkan nilai yang dinormalisasi antara 0 dan 1
df['age'] = df['age']/max(df['age'])
df['cp'] = df['cp']/max(df['cp'])
df['trtbps'] = df['trtbps']/max(df['trtbps'])
df['chol'] = df['chol']/max(df['chol'])
df['thalachh'] = df['thalachh']/max(df['thalachh'])

In [21]:
#sekarang mari kita lihat data yang dinormalisasi.
df.describe()

              age         sex          cp  ...         caa       thall      output
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean     0.706056    0.683168    0.322332  ...    0.729373    2.313531    0.544554
std      0.117949    0.466011    0.344017  ...    1.022606    0.612277    0.498835
min      0.376623    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      0.616883    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%      0.714286    1.000000    0.333333  ...    0.000000    2.000000    1.000000
75%      0.792208    1.000000    0.666667  ...    1.000000    3.000000    1.000000
max      1.000000    1.000000    1.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

**Data Modelling**

In [22]:
from sklearn.model_selection import train_test_split

# membagi data menjadi data pelatihan dan data pengujian
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(['output'], axis=1),
    df.output,
    test_size= 0.2,  # 20% test data & 80% train data
    random_state=0,
    stratify=df.output
)

**Logistic regression**

In [23]:
# Regresi logistik
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_train, y_train)

from sklearn.metrics import accuracy_score

Y_pred = clf.predict(X_test)
acc=accuracy_score(y_test, Y_pred)
print('Accuracy is',round(acc,2)*100,'%')

Accuracy is 89.0 %